/* Navbar.css */
.navbar {
     width: 100%; 
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-logo:hover {
    color: #f39c12; /* Couleur d'accentuation au survol */
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #f39c12; /* Couleur d'accentuation au survol */
}

